<% include ../partials/_header %>

<h1>Edit <%= venue.name %></h1>

<a href="/gigs">Back to all gigs</a>
   
   <form id="Form" action="/venues/<%= venue.nameForUrl %>?_method=PUT" method="POST">

    <h2>Event Details</h2>
   
        <input type="text" id="name" name="venue[name]" value = "<%= venue.name %>" placeholder="Venue Name" onkeyup="venueNameChange()">

        <input id="nameForUrl" type="hidden" name="venue[nameForUrl]" value = "<%= venue.nameForUrl %>" >

        <input type="text" id="facebook" name="venue[facebook]" value = "<%= venue.facebook %>" placeholder="Venue Facebook Profile">

        <input type="text" id="twitter" name="venue[twitter]" value = "<%= venue.twitter %>" placeholder="Venue Twitter Profile">

        <input type="text" id="instagram" name="venue[instagram]" value = "<%= venue.instagram %>" placeholder="Venue Instagram Profile">

        <textarea type="text" id="description" name="venue[description]"><%= venue.description %></textarea>
        

    <input type="submit" value="Submit">
</form>

<% include ../partials/_footer %>