<% include ../partials/_header %>

<section class="venue-image">
  <img src="<%= venue.image%>" />
</section>

<h1 class="page-heading venues-heading"><%= venue.name %></h1>

<section class="page-description">
  <p><%= venue.description %></p>
</section>

<h1 class="gig-listings-heading">Gig Listings</h1>

<div class="month-wrapper">
  <div class="month-date-heading">
    <h1><%= moment().format("MMMM YYYY") %></h1>
    <hr class="divider" />
  </div>

  <div class="gig-listing">
    <% for (var gig of sortedGigs) { %> <% if (gig.dateCalendar ==
    moment().format("MMMM YYYY") && gig.date >= Date.now()) { %>

    <div class="gig-card">
      <a href="/gigs/<%= gig.nameForUrl %>">
        <img class="gig-all-listings-image" src="<%= gig.image %>" />
        <div class="gig-name card-text"><%= gig.name %></div>
        <div class="gig-venue card-text"><%= gig.venue %></div>
        <div class="gig-date card-text">
          <%= moment(gig.date).format("dddd Do MMMM YYYY") %>
        </div>
      </a>
    </div>
    <% } %> <% } %>
  </div>
</div>

<div class="month-wrapper">
  <div class="month-date-heading">
    <h1><%= moment().add(1, 'M').format("MMMM YYYY") %></h1>
    <hr class="divider" />
  </div>

  <div class="gig-listing">
    <% for (var gig of sortedGigs) { %> <% if (gig.dateCalendar ==
    moment().add(1, 'M').format("MMMM YYYY") && gig.date >= Date.now()) { %>

    <div class="gig-card">
      <a href="/gigs/<%= gig.nameForUrl %>">
        <img class="gig-all-listing-image" src="<%= gig.image %>" />
        <div class="gig-name card-text"><%= gig.name %></div>
        <div class="gig-venue card-text"><%= gig.venue %></div>
        <div class="gig-date card-text">
          <%= moment(gig.date).format("dddd Do MMMM YYYY") %>
        </div>
      </a>
    </div>
    <% } %> <% } %>
  </div>
</div>

<div class="month-wrapper">
  <div class="month-date-heading">
    <h1><%= moment().add(2, 'M').format("MMMM YYYY") %></h1>
    <hr class="divider" />
  </div>

  <div class="gig-listing">
    <% for (var gig of sortedGigs) { %> <% if (gig.dateCalendar ==
    moment().add(2, 'M').format("MMMM YYYY") && gig.date >= Date.now()) { %>

    <div class="gig-card">
      <a href="/gigs/<%= gig.nameForUrl %>">
        <img class="gig-all-listing-image" src="<%= gig.image %>" />
        <div class="gig-name card-text"><%= gig.name %></div>
        <div class="gig-venue card-text"><%= gig.venue %></div>
        <div class="gig-date card-text">
          <%= moment(gig.date).format("dddd Do MMMM YYYY") %>
        </div>
      </a>
    </div>
    <% } %> <% } %>
  </div>
</div>

<div class="month-wrapper">
  <div class="month-date-heading">
    <h1><%= moment().add(3, 'M').format("MMMM YYYY") %></h1>
    <hr class="divider" />
  </div>

  <div class="gig-listing">
    <% for (var gig of sortedGigs) { %> <% if (gig.dateCalendar ==
    moment().add(3, 'M').format("MMMM YYYY") && gig.date >= Date.now()) { %>

    <div class="gig-card">
      <a href="/gigs/<%= gig.nameForUrl %>">
        <img class="gig-all-listing-image" src="<%= gig.image %>" />
        <div class="gig-name card-text"><%= gig.name %></div>
        <div class="gig-venue card-text"><%= gig.venue %></div>
        <div class="gig-date card-text">
          <%= moment(gig.date).format("dddd Do MMMM YYYY") %>
        </div>
      </a>
    </div>
    <% } %> <% } %>
  </div>
</div>

<div class="month-wrapper">
  <div class="month-date-heading">
    <h1><%= moment().add(4, 'M').format("MMMM YYYY") %></h1>
    <hr class="divider" />
  </div>

  <div class="gig-listing">
    <% for (var gig of sortedGigs) { %> <% if (gig.dateCalendar ==
    moment().add(4, 'M').format("MMMM YYYY") && gig.date >= Date.now()) { %>

    <div class="gig-card">
      <a href="/gigs/<%= gig.nameForUrl %>">
        <img class="gig-all-listing-image" src="<%= gig.image %>" />
        <div class="gig-name card-text"><%= gig.name %></div>
        <div class="gig-venue card-text"><%= gig.venue %></div>
        <div class="gig-date card-text">
          <%= moment(gig.date).format("dddd Do MMMM YYYY") %>
        </div>
      </a>
    </div>
    <% } %> <% } %>
  </div>
</div>

<div class="month-wrapper">
  <div class="month-date-heading">
    <h1><%= moment().add(5, 'M').format("MMMM YYYY") %></h1>
    <hr class="divider" />
  </div>

  <div class="gig-listing">
    <% for (var gig of sortedGigs) { %> <% if (gig.dateCalendar ==
    moment().add(5, 'M').format("MMMM YYYY") && gig.date >= Date.now()) { %>

    <div class="gig-card">
      <a href="/gigs/<%= gig.nameForUrl %>">
        <img class="gig-all-listing-image" src="<%= gig.image %>" />
        <div class="gig-name card-text"><%= gig.name %></div>
        <div class="gig-venue card-text"><%= gig.venue %></div>
        <div class="gig-date card-text">
          <%= moment(gig.date).format("dddd Do MMMM YYYY") %>
        </div>
      </a>
    </div>
    <% } %> <% } %>
  </div>
</div>

<div class="month-wrapper">
  <div class="month-date-heading">
    <h1><%= moment().add(6, 'M').format("MMMM YYYY") %></h1>
    <hr class="divider" />
  </div>

  <div class="gig-listing">
    <% for (var gig of sortedGigs) { %> <% if (gig.dateCalendar ==
    moment().add(6, 'M').format("MMMM YYYY") && gig.date >= Date.now()) { %>

    <div class="gig-card">
      <a href="/gigs/<%= gig.nameForUrl %>">
        <img class="gig-all-listing-image" src="<%= gig.image %>" />
        <div class="gig-name card-text"><%= gig.name %></div>
        <div class="gig-venue card-text"><%= gig.venue %></div>
        <div class="gig-date card-text">
          <%= moment(gig.date).format("dddd Do MMMM YYYY") %>
        </div>
      </a>
    </div>
    <% } %> <% } %>
  </div>
</div>

<div class="month-wrapper">
  <div class="month-date-heading">
    <h1><%= moment().add(7, 'M').format("MMMM YYYY") %></h1>
    <hr class="divider" />
  </div>

  <div class="gig-listing">
    <% for (var gig of sortedGigs) { %> <% if (gig.dateCalendar ==
    moment().add(7, 'M').format("MMMM YYYY") && gig.date >= Date.now()) { %>

    <div class="gig-card">
      <a href="/gigs/<%= gig.nameForUrl %>">
        <img class="gig-all-listing-image" src="<%= gig.image %>" />
        <div class="gig-name card-text"><%= gig.name %></div>
        <div class="gig-venue card-text"><%= gig.venue %></div>
        <div class="gig-date card-text">
          <%= moment(gig.date).format("dddd Do MMMM YYYY") %>
        </div>
      </a>
    </div>
    <% } %> <% } %>
  </div>
</div>

<div class="month-wrapper">
  <div class="month-date-heading">
    <h1><%= moment().add(8, 'M').format("MMMM YYYY") %></h1>
    <hr class="divider" />
  </div>

  <div class="gig-listing">
    <% for (var gig of sortedGigs) { %> <% if (gig.dateCalendar ==
    moment().add(8, 'M').format("MMMM YYYY") && gig.date >= Date.now()) { %>

    <div class="gig-card">
      <a href="/gigs/<%= gig.nameForUrl %>">
        <img class="gig-all-listing-image" src="<%= gig.image %>" />
        <div class="gig-name card-text"><%= gig.name %></div>
        <div class="gig-venue card-text"><%= gig.venue %></div>
        <div class="gig-date card-text">
          <%= moment(gig.date).format("dddd Do MMMM YYYY") %>
        </div>
      </a>
    </div>
    <% } %> <% } %>
  </div>
</div>

<div class="month-wrapper">
  <div class="month-date-heading">
    <h1><%= moment().add(9, 'M').format("MMMM YYYY") %></h1>
    <hr class="divider" />
  </div>

  <div class="gig-listing">
    <% for (var gig of sortedGigs) { %> <% if (gig.dateCalendar ==
    moment().add(9, 'M').format("MMMM YYYY") && gig.date >= Date.now()) { %>

    <div class="gig-card">
      <a href="/gigs/<%= gig.nameForUrl %>">
        <img class="gig-all-listing-image" src="<%= gig.image %>" />
        <div class="gig-name card-text"><%= gig.name %></div>
        <div class="gig-venue card-text"><%= gig.venue %></div>
        <div class="gig-date card-text">
          <%= moment(gig.date).format("dddd Do MMMM YYYY") %>
        </div>
      </a>
    </div>
    <% } %> <% } %>
  </div>
</div>

<div class="month-wrapper">
  <div class="month-date-heading">
    <h1><%= moment().add(10, 'M').format("MMMM YYYY") %></h1>
    <hr class="divider" />
  </div>

  <div class="gig-listing">
    <% for (var gig of sortedGigs) { %> <% if (gig.dateCalendar ==
    moment().add(10, 'M').format("MMMM YYYY") && gig.date >= Date.now()) { %>

    <div class="gig-card">
      <a href="/gigs/<%= gig.nameForUrl %>">
        <img class="gig-all-listing-image" src="<%= gig.image %>" />
        <div class="gig-name card-text"><%= gig.name %></div>
        <div class="gig-venue card-text"><%= gig.venue %></div>
        <div class="gig-date card-text">
          <%= moment(gig.date).format("dddd Do MMMM YYYY") %>
        </div>
      </a>
    </div>
    <% } %> <% } %>
  </div>
</div>

<div class="month-wrapper">
  <div class="month-date-heading">
    <h1><%= moment().add(11, 'M').format("MMMM YYYY") %></h1>
    <hr class="divider" />
  </div>

  <div class="gig-listing">
    <% for (var gig of sortedGigs) { %> <% if (gig.dateCalendar ==
    moment().add(11, 'M').format("MMMM YYYY") && gig.date >= Date.now()) { %>

    <div class="gig-card">
      <a href="/gigs/<%= gig.nameForUrl %>">
        <img class="gig-all-listing-image" src="<%= gig.image %>" />
        <div class="gig-name card-text"><%= gig.name %></div>
        <div class="gig-venue card-text"><%= gig.venue %></div>
        <div class="gig-date card-text">
          <%= moment(gig.date).format("dddd Do MMMM YYYY") %>
        </div>
      </a>
    </div>
    <% } %> <% } %>
  </div>
</div>

<% include ../partials/_footer %>
