<% include ../partials/_header %>


<div class="month-wrapper">
    <div class="month-date-heading">
        <h1><%= moment().format("MMMM YYYY") %></h1>
        <hr class="divider">
    </div>

    <div class="gig-listing">
        <% for (var gig of sortedGigs) { %>      
            <% if (gig.dateCalendar == moment().format("MMMM YYYY") && gig.date >= Date.now()) { %>

                <div class="gig-card"><a href="/gigs/<%= gig.nameForUrl %>">

                    <img class="img-spotlight" src="<%= gig.image %>">
                    <div class="gig-name card-text"> <%= gig.name %> </div>
                    <div class="gig-venue card-text"> <%= gig.venue %> </div>
                    <div class="gig-date card-text"> <%= moment(gig.date).format("dddd Do MMMM YYYY") %> </div>

                </a></div>
            <% } %>
        <% } %>
    </div>
</div>

<div class="month-wrapper">
    <div class="month-date-heading">
        <h1><%= moment().add(1, 'M').format("MMMM YYYY") %></h1>
        <hr class="divider">
    </div>

    <div class="gig-listing">
        <% for (var gig of sortedGigs) { %>      
            <% if (gig.dateCalendar == moment().add(1, 'M').format("MMMM YYYY") && gig.date >= Date.now()) { %>
    
                <div class="gig-card"><a href="/gigs/<%= gig.nameForUrl %>">
    
                    <img class="img-spotlight" src="<%= gig.image %>">
                    <div class="gig-name card-text"> <%= gig.name %> </div>
                    <div class="gig-venue card-text"> <%= gig.venue %> </div>
                    <div class="gig-date card-text"> <%= moment(gig.date).format("dddd Do MMMM YYYY") %> </div>
    
                </a></div>
            <% } %>
          <% } %>
    </div>
</div>

<div class="month-wrapper">
    <div class="month-date-heading">
        <h1><%= moment().add(2, 'M').format("MMMM YYYY") %></h1>
        <hr class="divider">
    </div>

    <div class="gig-listing">
        <% for (var gig of sortedGigs) { %>            
            
            <% if (gig.dateCalendar == moment().add(2, 'M').format("MMMM YYYY") && gig.date >= Date.now()) { %>

                <div class="gig-card"><a href="/gigs/<%= gig.nameForUrl %>">

                    <img class="img-spotlight" src="<%= gig.image %>">
                    <div class="gig-name card-text"> <%= gig.name %> </div>
                    <div class="gig-venue card-text"> <%= gig.venue %> </div>
                    <div class="gig-date card-text"> <%= moment(gig.date).format("dddd Do MMMM YYYY") %> </div>

                </a></div>
            <% } %>
        <% } %>
    </div>
</div>

<div class="month-wrapper">
    <div class="month-date-heading">
        <h1><%= moment().add(3, 'M').format("MMMM YYYY") %></h1>
        <hr class="divider">
    </div>

    <div class="gig-listing">
        <% for (var gig of sortedGigs) { %>      
            <% if (gig.dateCalendar == moment().add(3, 'M').format("MMMM YYYY") && gig.date >= Date.now()) { %>

                <div class="gig-card"><a href="/gigs/<%= gig.nameForUrl %>">

                    <img class="img-spotlight" src="<%= gig.image %>">
                    <div class="gig-name card-text"> <%= gig.name %> </div>
                    <div class="gig-venue card-text"> <%= gig.venue %> </div>
                    <div class="gig-date card-text"> <%= moment(gig.date).format("dddd Do MMMM YYYY") %> </div>

                </a></div>
            <% } %>
        <% } %>
    </div>
</div>

<div class="month-wrapper">
    <div class="month-date-heading">
        <h1><%= moment().add(4, 'M').format("MMMM YYYY") %></h1>
        <hr class="divider">
    </div>

    <div class="gig-listing">
        <% for (var gig of sortedGigs) { %>      
            <% if (gig.dateCalendar == moment().add(4, 'M').format("MMMM YYYY") && gig.date >= Date.now()) { %>

                <div class="gig-card"><a href="/gigs/<%= gig.nameForUrl %>">

                    <img class="img-spotlight" src="<%= gig.image %>">
                    <div class="gig-name card-text"> <%= gig.name %> </div>
                    <div class="gig-venue card-text"> <%= gig.venue %> </div>
                    <div class="gig-date card-text"> <%= moment(gig.date).format("dddd Do MMMM YYYY") %> </div>

                </a></div>
            <% } %>
        <% } %>
    </div>
</div>

<div class="month-wrapper">
    <div class="month-date-heading">
        <h1><%= moment().add(5, 'M').format("MMMM YYYY") %></h1>
        <hr class="divider">
    </div>

    <div class="gig-listing">
        <% for (var gig of sortedGigs) { %>           
            <% if (gig.dateCalendar == moment().add(5, 'M').format("MMMM YYYY") && gig.date >= Date.now()) { %>

                <div class="gig-card"><a href="/gigs/<%= gig.nameForUrl %>">

                    <img class="img-spotlight" src="<%= gig.image %>">
                    <div class="gig-name card-text"> <%= gig.name %> </div>
                    <div class="gig-venue card-text"> <%= gig.venue %> </div>
                    <div class="gig-date card-text"> <%= moment(gig.date).format("dddd Do MMMM YYYY") %> </div>

                </a></div>
            <% } %>
        <% } %>
    </div>
</div>

<div class="month-wrapper">
    <div class="month-date-heading">
        <h1><%= moment().add(6, 'M').format("MMMM YYYY") %></h1>
        <hr class="divider">
    </div>

    <div class="gig-listing">
        <% for (var gig of sortedGigs) { %>      
            <% if (gig.dateCalendar == moment().add(6, 'M').format("MMMM YYYY") && gig.date >= Date.now()) { %>

                <div class="gig-card"><a href="/gigs/<%= gig.nameForUrl %>">

                    <img class="img-spotlight" src="<%= gig.image %>">
                    <div class="gig-name card-text"> <%= gig.name %> </div>
                    <div class="gig-venue card-text"> <%= gig.venue %> </div>
                    <div class="gig-date card-text"> <%= moment(gig.date).format("dddd Do MMMM YYYY") %> </div>

                </a></div>
            <% } %>
        <% } %>
    </div>
</div>

<div class="month-wrapper">
    <div class="month-date-heading">
        <h1><%= moment().add(7, 'M').format("MMMM YYYY") %></h1>
        <hr class="divider">
    </div>

    <div class="gig-listing">
        <% for (var gig of sortedGigs) { %>      
            <% if (gig.dateCalendar == moment().add(7, 'M').format("MMMM YYYY") && gig.date >= Date.now()) { %>

                <div class="gig-card"><a href="/gigs/<%= gig.nameForUrl %>">

                    <img class="img-spotlight" src="<%= gig.image %>">
                    <div class="gig-name card-text"> <%= gig.name %> </div>
                    <div class="gig-venue card-text"> <%= gig.venue %> </div>
                    <div class="gig-date card-text"> <%= moment(gig.date).format("dddd Do MMMM YYYY") %> </div>

                </a></div>
            <% } %>
        <% } %>
    </div>
</div>

<div class="month-wrapper">
    <div class="month-date-heading">
        <h1><%= moment().add(8, 'M').format("MMMM YYYY") %></h1>
        <hr class="divider">
    </div>

    <div class="gig-listing">
        <% for (var gig of sortedGigs) { %>      
            <% if (gig.dateCalendar == moment().add(8, 'M').format("MMMM YYYY") && gig.date >= Date.now()) { %>

                <div class="gig-card"><a href="/gigs/<%= gig.nameForUrl %>">

                    <img class="img-spotlight" src="<%= gig.image %>">
                    <div class="gig-name card-text"> <%= gig.name %> </div>
                    <div class="gig-venue card-text"> <%= gig.venue %> </div>
                    <div class="gig-date card-text"> <%= moment(gig.date).format("dddd Do MMMM YYYY") %> </div>

                </a></div>
            <% } %>
        <% } %>
    </div>
</div>

<div class="month-wrapper">
    <div class="month-date-heading">
        <h1><%= moment().add(9, 'M').format("MMMM YYYY") %></h1>
        <hr class="divider">
    </div>

    <div class="gig-listing">
        <% for (var gig of sortedGigs) { %>      
            <% if (gig.dateCalendar == moment().add(9, 'M').format("MMMM YYYY") && gig.date >= Date.now()) { %>

                <div class="gig-card"><a href="/gigs/<%= gig.nameForUrl %>">

                    <img class="img-spotlight" src="<%= gig.image %>">
                    <div class="gig-name card-text"> <%= gig.name %> </div>
                    <div class="gig-venue card-text"> <%= gig.venue %> </div>
                    <div class="gig-date card-text"> <%= moment(gig.date).format("dddd Do MMMM YYYY") %> </div>

                </a></div>
            <% } %>
        <% } %>
    </div>
</div>

<div class="month-wrapper">
    <div class="month-date-heading">
        <h1><%= moment().add(10, 'M').format("MMMM YYYY") %></h1>
        <hr class="divider">
    </div>

    <div class="gig-listing">
        <% for (var gig of sortedGigs) { %>      
            <% if (gig.dateCalendar == moment().add(10, 'M').format("MMMM YYYY") && gig.date >= Date.now()) { %>

                <div class="gig-card"><a href="/gigs/<%= gig.nameForUrl %>">

                    <img class="img-spotlight" src="<%= gig.image %>">
                    <div class="gig-name card-text"> <%= gig.name %> </div>
                    <div class="gig-venue card-text"> <%= gig.venue %> </div>
                    <div class="gig-date card-text"> <%= moment(gig.date).format("dddd Do MMMM YYYY") %> </div>

                </a></div>
            <% } %>
        <% } %>
    </div>
</div>

<div class="month-wrapper">
    <div class="month-date-heading">
        <h1><%= moment().add(11, 'M').format("MMMM YYYY") %></h1>
        <hr class="divider">
    </div>

    <div class="gig-listing">
        <% for (var gig of sortedGigs) { %>      
            <% if (gig.dateCalendar == moment().add(11, 'M').format("MMMM YYYY") && gig.date >= Date.now()) { %>

                <div class="gig-card"><a href="/gigs/<%= gig.nameForUrl %>">

                    <img class="img-spotlight" src="<%= gig.image %>">
                    <div class="gig-name card-text"> <%= gig.name %> </div>
                    <div class="gig-venue card-text"> <%= gig.venue %> </div>
                    <div class="gig-date card-text"> <%= moment(gig.date).format("dddd Do MMMM YYYY") %> </div>

                </a></div>
            <% } %>
        <% } %>
    </div>
</div>


<% include ../partials/_footer %>