<% include ../partials/_header %>

<h1>Edit <%= gig.name %></h1>
<h2><%= gig.twitter %></h2>

<a href="/gigs">Back to all gigs</a>
   
   <form id="Form" action="/gigs/<%= gig.nameForUrl %>?_method=PUT" method="POST" enctype="multipart/form-data">

    <h2>Event Details</h2>
   
        <input type="text" id="name" name="gig[name]" value = "<%= gig.name %>" placeholder="Headliner" onkeyup="gigNameUrl()">

        <input type="text" id="supports" name="gig[supports]" value = "<%= gig.supports %>" placeholder="Supports">
        
        <select id="venue" type="text" name="gig[venue]" onchange="venueNameUrl()">
            <option selected><%= gig.venue %></option>       
            <option value="Cambridge Corn Exchange"> Cambridge Corn Exchange </option>
            <option value="Flying Pig"> Flying Pig </option>
            <option value="Hidden Rooms"> Hidden Rooms </option>
            <option value="Storey's Field Centre"> Storey's Field Centre </option>
            <option value="The Blue Moon"> The Blue Moon </option>
            <option value="The Corner House"> The Corner House </option>
            <option value="The Haymakers"> The Haymarkers </option>
            <option value="The Junction"> The Junction </option>
            <option value="The Portland Arms"> The Portland Arms </option>
        </select>

        <input type="text" id="date" name="gig[date]" value = "<%= gig.date %>">

        <div>
            <label for="image">Image</label>
            <input type="file" id="image" name="image" accept="image/*">
        </div>

        <input type="text" id="ticketsUrl" name="gig[ticketsUrl]" value = "<%= gig.ticketsUrl %>" placeholder="Tickets URL">

        <input type="number" id="price" name="gig[price]" value = "<%= gig.price %>" placeholder="Price">

        <input type="text" id="facebook" name="gig[facebook]" value = "<%= gig.facebook %>" placeholder="Facebook Profile URL">

        <input type="text" id="twitter" name="gig[twitter]" value = "<%= gig.twitter %>" placeholder="Twitter Profile URL">

        <input type="text" id="instagram" name="gig[instagram]" value = "<%= gig.instagram %>" placeholder="Instagram Profile URL">

        <input type="text" id="youtube" name="gig[youtube]" value = "<%= gig.youtube %>" placeholder="YouTube Profile URL">

        <input type="text" id="youtubeVideo" name="gig[youtubeVideo]" value = "<%= gig.youtubeVideo %>" placeholder="YouTube Embed Code">

        <input type="text" id="spotifyPlayer" name="gig[spotifyPlayer]" value = "<%= gig.spotifyPlayer %>" placeholder="Spotify Player Embed Code">

        <input type="text" id="bandcamp" name="gig[bandcamp]" value = "<%= gig.bandcamp %>" placeholder="Bandcamp Profile URL">

        <input type="text" id="bandcampPlayer" name="gig[bandcampPlayer]" value = "<%= gig.bandcampPlayer %>" placeholder="Bandcamp Player Embed Code">

        <textarea type="text" id="description" name="gig[description]"><%= gig.description %></textarea>
        
        <!-- Hidden Fields -->

        <input id="nameForUrl" type="hidden" name="gig[nameForUrl]" value = "<%= gig.nameForUrl %>">

        <input id="venueForUrl" type="hidden" name="gig[venueForUrl]" value = "<%= gig.venueForUrl %>">

        <!-- Hidden Fields END -->

    <input type="submit" value="Submit">
</form>

<% include ../partials/_footer %>