<% include ../partials/_header %>

<h1> The Gigs Show Template</h1>

    <div>
        <h2><%= gig.name %></h2>
        <% if(currentUser && gig.author.id.equals(currentUser._id)) { %>
        <a href="/gigs/<%= gig.nameForUrl%>/edit">Edit</a>
        <form action="/gigs/<%= gig.nameForUrl %>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
        <% } %>
    </div>

    <p><%= gig.description %></p>

    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= gig.youtubeVideoID %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <img src="<%= gig.image%>">
    <p><%= gig.date %></p>
    <p><%= gig.venueForUrl %></p>
    <p><%= gig.dateAdded %></p>

<% include ../partials/_footer %>