<% include ../partials/_header %>

<section class="gig-image">
    <img src="<%= gig.image%>">
</section>

<section class="gig-page-heading-wrapper">
    <h1 class="page-heading"><%= gig.name %></h1>
    <h2 class="page-heading"><%= gig.supports %></h2>
    <h2 class="page-heading"><%= gig.venue %></h2>
    <h2 class="page-heading"><%= moment(gig.date).format("dddd Do MMMM YYYY") %></h2>
</section>

<button onclick="window.location.href='<%= gig.ticketsUrl %>'" class="gig-page-button button-dark">Buy Tickets</button>

<div class="gig-page-links">

    <% if (gig.website == "") { %>
        <% } else { %>
            <div class="gig-page-link gig-page-website">
                <i class="far fa-window-maximize gig-page-icon"></i>
                <a href="<%= gig.website %>" target="_blank"><%= gig.website %></a>
            </div>
            <% } %>

    <% if (gig.facebook == "") { %>
        <% } else { %>
            <div class="gig-page-link gig-page-facebook">
                <i class="fab fa-facebook-square gig-page-icon gig-page-icon-fb"></i>
                <a href="<%= gig.facebook %>" target="_blank"><%= gig.facebook %></a>
            </div>
            <% } %>

    <% if (gig.twitter == "") { %>
        <% } else { %>
            <div class="gig-page-link gig-page-twitter">
                <i class="fab fa-twitter gig-page-icon"></i>
                <a href="<%= gig.twitter %>" target="_blank"><%= gig.twitter %></a>
            </div>
            <% } %>

    <% if (gig.instagram == "") { %>
        <% } else { %>
            <div class="gig-page-link gig-page-instagram">
                <i class="fab fa-instagram gig-page-icon gig-page-icon-insta"></i>
                <a href="<%= gig.instagram %>" target="_blank"><%= gig.instagram %></a>
            </div>
            <% } %>

    <% if (gig.youtube == "") { %>
        <% } else { %>
            <div class="gig-page-link gig-page-youtube">
                <i class="fab fa-youtube-square gig-page-icon gig-page-icon-yt"></i>
                <a href="<%= gig.youtube %>" target="_blank"><%= gig.youtube %></a>
            </div>
            <% } %>

    <% if (gig.spotifyPlayer == "") { %>
        <% } else { %>
            <div class="gig-page-link gig-page-spotify">
                <i class="fab fa-spotify gig-page-icon gig-page-icon-sp"></i>
                <a href="<%= gig.spotifyPlayer %>" target="_blank">https://open.spotify.com/artist/</a>
            </div>
            <% } %>
</div>

<section class="band-description">
    <div class="page-description">
        <p><%= gig.description %></p>
    </div>
</section>


<% if (gig.youtubeVideoID == "") { %>
    <% } else { %>
        <section class="youtube-video">
            <iframe class="youtube-video" src="https://www.youtube.com/embed/<%= gig.youtubeVideoID %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
        <% } %>

<% include ../partials/_footer %>